@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header{
  z-index: 999;
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  transition: 0.5s ease;
}



header .navigation{
    
  position: relative;
}

.headerh1{
  z-index: 2300;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-left: auto;
  margin-right: auto;
  display: block;
  top: 23%;
  color: rgb(	0, 255, 21);
  font-weight: 700;
  background-color: #000000;
  padding: 7px;
}

.displaymain{
  box-shadow: 0px 5px 20px black;
}

header .navigation .navigation-items a{
  /*position: relative;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;*/
  background: rgb(	0, 255, 21);
  padding: 8px 35px;
  /*color: #1680AC;*/
  color: #000000;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 2px;
}

header .navigation .navigation-items a:before{
  content: '';
  position: absolute;
  background: #fff;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

header .navigation .navigation-items:hover{
    transform: scale(1.2);
    transition: transform 1s;
}


section{
  padding: 100px 200px;
}

.home{
  position: relative;
  width: 100%;
  min-height: 80vh;
  
  justify-content: center;
  /**/
  
  /*background: #2696E9;*/
}
.home::before{
  background: rgba(0, 0, 0, 0.452);
  
}
.displaymain{
  position: absolute;
  z-index: 2000;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-left: auto;
  margin-right: auto;
  display: block;
  top: 60%;
  width: 55%;
}




/*.home .content a span{
    
    font-family: "Lucida Console", "Courier New", monospace;
    
  }*/
/*.home .content a span{
    animation: blinker 1s step-start infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
    
    
  }*/


.home .media-icons{
    
  z-index: 1508;
  position: absolute;
  left: 202px;
  top: 18px;
  display: flex;
  flex-direction: row;
  transition: 0.5s ease;
}

.home .media-icons a{
    
  
    padding-right: 25px;
  color: #fff;
  font-size: 2em;
  transition: 0.3s ease;
}

.home .media-icons a:not(:last-child){
  margin-bottom: 20px;
}

.home .media-icons a:hover{
  transform: scale(1.3);
}

.home img{
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  object-fit: cover;
}






@media (max-width:1547px){
    .home .content h1{
        font-size: 3em;
        line-height: 60px;
      }
}
@media (max-width:1295px){
    .home .content h1{
        font-size: 2em;
        line-height: 60px;
      }
      .home .content h1 span{
        font-size: 2em;
        line-height: 60px;
      }
}
    

@media (max-width: 1040px){
    .home .content h1{
        font-size: 2em;
        line-height: 60px;
      }
      .home .content h1 span{
        font-size: 2em;
        line-height: 60px;
      }
  header{
    padding: 12px 20px;
  }

  section{
    padding: 100px 20px;
  }

  .home .media-icons{
    right: 15px;
  }

  

  header .navigation.active{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }
  

  header .navigation .navigation-items a{
    
    font-size: 1.2em;
    margin: 20px;
    
  }

  header .navigation .navigation-items a:before{
    background: #222;
    height: 5px;
  }

  header .navigation.active .navigation-items{
    background: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    
  }

  .menu-btn{
    background: url(menu.png)no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .menu-btn.active{
    z-index: 999;
    background: url(close.png)no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
  }
  .home .media-icons{
    
    z-index: 1508;
    position: absolute;
    left: 22px;
    top: 18px;
    display: flex;
    flex-direction: row;
    transition: 0.5s ease;
  }
}
@media (max-width: 685px){
    .home .content h1{
    font-size: 1.2em;
    line-height: 20px;
  }
  .home .content h1 span{
    font-size: 2em;
    line-height: 60px;
  }
}
@media (max-width: 570px){
  .home .content h1{
    font-size: 1.2em;
    line-height: 20px;
  }
  .home .content h1 span{
    font-size: 2em;
    line-height: 60px;
  }
  
  .home .media-icons{
    
    z-index: 1508;
    position: absolute;
    left: 22px;
    top: 18px;
    display: flex;
    flex-direction: row;
    transition: 0.5s ease;
  }
  header .navigation .navigation-items a{
    z-index: 2000;
  }
}

.about_me_header{
    text-align: center;
    font-size: 1.5em;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.about_me_pic img{
    position: relative;
    border-radius: 50%;
    width: 33vh;
    height: 33vh;
    background: #00ff15;
    padding: 2px;
    top: 7%;
    
    
}
.about_me_text{
    padding-left: 70px;
    
    
}
.about_me_pic_and_text_grouping{
  top: 60px;
    position: relative;
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    
    padding-top: 110px;
    /*width: 950px;*/
    width: 60%;
    left: 15vh;
    transform: scale(1.2);
    padding-bottom: 100px;
    right: 20vh;
}
.about_me_pic_and_text_grouping2{
  top: 60px;
    position: relative;
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    
    padding-top: 110px;
    /*width: 950px;*/
    width: 100%;
    background-color: #0000003c;
    
    padding-bottom: 100px;
    padding-left: 10vh;
    
}
.about_me_text2{
  width: 50%;
}
.about_me_text2 p{
  width: 70%;
}
.about_me_text2 h2{
  padding-bottom: 10px;
}

.about_me_text2{
  width: 50%;
}
.about_me_text2 p{
  width: 70%;
}
.about_me_text2 h2{
  padding-bottom: 10px;
}

.about_me_text h3{
    font-weight: 600;
    font-feature-settings: 1.3em;
    line-height: 50px;
    
}
.about_me_text p{
    position: relative;
    max-width: 600px;
    font-size: 14px;
    font-family: "Lucida Console", "Courier New", monospace;
    
}

.rower{
  margin-top: 2%;
  display: flex;
  justify-content: center;
  
}
.campus{
  width: 100%;
  margin:auto;
  text-align: center;
  padding-top: 50px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 30px;
  position: relative;

}
.campus h1{
  top: 10px;
  left: 41.5%;
  
  position: absolute
  

}
.campus-col{
  margin-left: 30px;
  margin-right: 30px;
  flex-basis: 22%;
  border-radius: 10px;
  margin-bottom: 30px;
  
  position: relative;
  overflow: hidden;
  height: 60vh;
  
  
  
}
.campus-col img{
  /*flex-shrink: 0;*/
  align-content: center;
  object-fit: cover;
    min-width: 100%;
    min-height: 100%
  
  
  
}
.layer{
  background: rgba(0, 0, 0, 0.582);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  

}
.layer:hover{
  background: #00ff15;
}
.layer h3{
  width: 100%;
  font-weight: 800;
  color: rgb(255, 255, 255);
  font-size: 36px;
  top: 45%;
  
  position: absolute;
  opacity: 10;
  transition: 0.5s;

}


.layer:hover h3{
  
  top: 1%;
  color: rgb(0, 0, 0);
  font-size: 36px;
}
.layer p{
    
  width: 80%;
  font-weight: 500;
  color: rgb(0, 0, 0);
  
  top: 50%;
  left: 10%;
  position: relative;
  opacity: 0;
  transition: 0.5s;
  
  
}
.layer:hover p{

  top: 15%;
  opacity: 10;
  
}

.rotater{
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: #000000;
  padding: 6px;
  color: #00ff15;
}
.rotate{
  font-family: "Lucida Console", "Courier New", monospace;
  
}
.bannerIMG{
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("images/battleship\ chaotic.webp");
  
  background-position: center;
  
  display: flex;
  /*content:"";
  display: table;
  clear: both;*/

  
}
.bannerIMG{
  border-radius: 10px;
}
.COLTEXT{
  position: relative;
  padding-top: 20px;
  width: 33.3%;
  text-align: center;
  color: #fff;
  padding: 30px;
}
.coles1{
  padding-left: 70px;
}
.coles3{
  padding-right: 70px;
}
.coles2{
  padding-left: 50px;
  padding-right: 50px;
}
.COLTEXT h1{
  position: relative;
  padding-bottom: 20px;
}
.COLTEXT p{
  padding-top: 10px;
  position: relative;
}
.side{
  position: relative;
  width: 70%;
  left: 15%;
  text-align: center;
  
}
.side h1{
  position: relative;
  font-size: 24px;
  bottom: 30px;
  padding-top: 25px;
}
.skills{
  position: relative;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("images/battleship\ chaotic.webp");
  background-position: center;
  top: 40px;
  
}

.skills h1{
  
  position: absolute;
  top: 20%;
  z-index: 1900;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  display: block;
  
}
.containeresc {
  width: 100%;
  background-color: #ddd;
}

.skillse {
  
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  
}
.fontcolors{
  color: #fff;
}

.html {width: 60%; background-color: #00ff15;}
.css {width: 70%; background-color: #00ff15;}
.js {width: 20%; background-color: #00ff15;}
.php {width: 60%; background-color: #00ff15;}
.Python {width: 45%; background-color: #00ff15;}
.skillbar{
  padding-top: 40px;
}
.footer{
  width: 100%;
  text-align: center;
  padding: 30px 0;
  background-color: rgb(29, 29, 29);
  color: #fff;
  
}
.relatedprojects{
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.relatedprojects h1{
  font-weight: 500;
  font-size: 30px;
}
.areflines a{
  font-weight: 500;
  font-size: 18px;
  
  color: #000000;
}
.areflines{
  position: relative;
  top: 20px;
  padding: 10px;
}
.areflines p{
  color: grey;
  font-size: 20;
  font-weight: 600;
}

/*-----------this is the pop up model button----------*/

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
  
}

/* Modal Content */
.modal-content {
  background-color: #000000;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.modal-content p{
  font-family: "Lucida Console", "Courier New", monospace;
  color: #00ff15;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}


/*------here i will add the terminal parts------*/
.background-min{
  position: fixed;
  background-color: #000000;
  border: 1px solid #888;
  width: 200px;
  height: 150px;
  z-index: 6000;
  bottom: 2%;
  right: 1.5%;
}





.background-min button{
  background: rgb(	0, 255, 21);
  padding: 2px 5px;
  
  color: #000000;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 2px;
}



.myBtn2{
  
  background: rgb(	0, 255, 21);
  padding: 8px 35px;
  color: #000000;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 2px;
  position: relative;
}


.background-min img{
  position: absolute;
  width: 50%;
  
  left: 50%;
  transform: translate(-50%);
  bottom: 10%;
}
.happyemoji{
  opacity: 0;
}
.loveemoji{
  opacity: 0;
}
.sademoji{
  opacity: 1;
}
#myBtn2:hover > .sademoji{
  opacity: 0;
}
#myBtn2:hover > .happyemoji{
  opacity: 1;
}




.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
  
}

/* Modal Content */
.modal2-content {
  background-color: #000000;
  margin: auto;
  padding: 20px;
  border: 1px solid white;
  border-top: 20px solid white;
  
  width: 80%;
}
.cmdentry{
  position: relative;
  font-family: "Lucida Console", "Courier New", monospace;
  color: #00ff15;
  text-decoration: none;
}
.modal2-content a{
  position: relative;
  font-family: "Lucida Console", "Courier New", monospace;
  color: #00ff15;
  text-decoration: none;
}

/* The Close Button */
.close2 {
  color: #aaaaaa;
  
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  color: rgb(0, 0, 0);
  padding-top: 100px; /* Location of the box */
  font-weight: 400;
  z-index: 9002;
  width: 12%;
  right: 0%;
  top: -1.5%;
  
}

.close2:hover,
.close2:focus {
  color: rgb(146, 146, 146);
  text-decoration: none;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}
.cmdtextholder{
  position: relative;
}
.cmdtext{
  position: absolute;
  color:black;
  padding-top: 100px; /* Location of the box */
  font-weight: 400;
  top: -2.5px;
  width: 85%;
  
}
.blinkerclass{
  font-weight: 700;
  animation: blinker 1s step-start infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
  
  
}

















header .navigation .navigation-items button{
  
  background: rgb(	0, 255, 21);
  padding: 8px 35px;
  
  color: #000000;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 2px;
}

header .navigation .navigation-items button:before{
  content: '';
  position: absolute;
  background: #fff;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

header .navigation .navigation-items:hover{
    transform: scale(1.2);
    transition: transform 1s;
}
.l{
  color: #00ff15;
}